/* Add CSS Styling */
.odd-number{
    background-color: rgb(246, 137, 137);
     font-family: 'Verdana','DejaVu Sans',sans-serif;
    
}
#two{
    background-color: blue;
    font-size: 25px;
    font-weight: 700;
}
.odd-number#three{
    font-size: 24px;

}
#four{
    background-color: green;
    font-size: 25px;
    font-weight: 700;
}
