.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding-left: 9px;
  padding-right: 9px;
  margin:7px auto;
  display: flex;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;  
  padding: 0px;
}

a {
  font-size: 22px;
  background: white;
  padding: 5px;
  /* this removes the line under the links */
  text-decoration: none;
  margin: 3px;
  padding: 7px 11px;

}

.left-links,.right-links{
  display: flex;
  width: 300px;

}
.left-links ul{
  display: flex;
  flex: 1;
  flex-direction: row; 
  justify-content:space-around;
  align-items: center;
}


.right-links ul{
  align-items: center;

  display: flex;
  flex: 1;
  flex-direction: row; 
  justify-content:space-around;
}

