/* Add CSS Styling */
.click{
    background-color: black;
    color: white;      
}
.no-click{
    background-color: yellowgreen;

}
.click,.no-click{
    font-size: 100px;
    font-family: Helvetica,'Times New Roman',sans-serif;
}

