body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 700px;
  background: #fff;
  margin: 20px auto;
  font-size: 17px;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  margin: 15px 13px 13px 13px;
  padding: 10px;
    font-size: 17px;
}

.content {
  background: #e3f4ff;
    margin: 15px 13px 13px 13px;
  padding: 10px;
    font-size: 17px;
}

.button-container {
  background: #e3f4ff;
  height: 70px;
  margin: 0px 13px;
  padding: 10px 10px;
  text-align: center;
  font-size: 17px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
    font-size: 17px;
  margin-left: auto;
  margin-right: auto;
padding: 10px;
}